@model FVerStoreApp.ViewModels.OrderViewModel
@{
    ViewBag.Title = "Дякуємо за замовлення";
}
<h2>Дякуємо за замовлення!</h2>
<br />
<p>Подивитися детальну інформацію можливо в особистому кабінеті у вкладці "Мої замовлення"</p>