@model FVerStoreApp.ViewModels.LoginViewModel

<h2>Вход в приложение</h2>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label><br />
        <input asp-for="RememberMe" />
    </div>
    <div class="button">
            <input type="submit" value="Війти" class="input" />
    </div>
    <div class="button">
        <input type="submit" asp-controller="Account" asp-action="Register" value="Регістрація" class="input"/>
    </div>
</form>
<style>
    .button
    {
        width: 200px;
        height: 30px;
        background-color:aquamarine;
        
    }
    .input
    {
        border: none;
        background: none;
    }
</style>