@{
    ViewData["Title"] = "Home Page";
}
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <main>
            <section class="startscreen">
                <div class="wrapper">
                    <h1 class="startscreen__title">

                        SafetyLive<br>
                        Ваш найкращий захист та надійність <br>
                    </h1>
                    <div class="startscreen__buttons">
                        <button type="submit" class="startscreen__but1">
                            Взяти страховку!
                        </button>
                        <button type="submit" class="startscreen__but2">
                            Детальніше
                        </button>
                    </div>
                </div>
            </section>
            <section class="aboutus">
                <div class="wrapper">
                    <p class="aboutus__title">
                        Про нас
                    </p>
                    <p class="aboutus__subtitle">
                        та нашу компанію
                    </p>
                    <div class="aboutus__about">
                        <div class="aboutus__textarea">
                            <p class="aboutus__textarea-text">
                                Ми компанія лідер у сфері постачання страхових послуг та один з лідерів страхових компаній у нашій країні. Компанія заснована у 2010 році та
                                працює та захищає ваше здоров'я, майно та майбутнє вже 10 років! Наша мета зберігати ваше життя та спокій кожен день! Якщо ви та ваша сім'я потребує
                                надійності у завтрошньому дні, то ми створені саме для цього та турбуємось про вас кожну мить. <br><br><br>
                                Замовити страховку у нас - це надійність та спокій у майбутньому!
                            </p>
                        </div>
                        <img src="" alt="страховка">
                    </div>
                </div>
            </section>
            <section class="whyus">
                <div class="wrapper">
                    <p class="whyus__title">
                        Чому ми?
                    </p>
                    <p class="whyus__subtitle">
                        Наші переваги
                    </p>
                    <div class="whyus__achievements">
                        <div class="whyus__points point1">
                            <p class="whyus__point-number number1">1</p>
                            <p class="whyus__point-text text1">
                                Наша компанія у топ-10 компаній Країни
                            </p>
                        </div>
                        <div class="whyus__points point2">
                            <p class="whyus__point-number number2">2</p>
                            <p class="whyus__point-text text2">
                                Працюємо вже понад 10 років
                            </p>
                        </div>
                        <hr>
                        <div class="whyus__points point3">
                            <p class="whyus__point-number number3">3</p>
                            <p class="whyus__point-text text4">
                               Маємо наширший вибір на всі випадки життя
                            </p>
                        </div>
                        <div class="whyus__points point4">
                            <p class="whyus__point-number number4">4</p>
                            <p class="whyus__point-text text4">
                               Можливість підібрати ціну под себе
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>

