@model FVerStoreApp.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Зміна паролю";
}
<h2>Зміна паролю для користувача @Model.Email</h2>
<form asp-action="ChangePassword" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Email" />

    <div class="form-group">
        <label asp-for="NewPassword" class="control-label">Новий пароль</label>
        <input type="text" asp-for="NewPassword" class="form-control" />
    </div>
    
</form>
<form method="post" asp-controller="PersonalCabinet" asp-action="Index">
    <input type="submit" value="Змінити" />
</form>
