@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
    @{
    ViewData["Title"] = "Личный кабинет";
    }
    @if (User.Identity.IsAuthenticated)
{
    if(@User.Identity.Name =="admin123@gmail.com")
    {
    <a asp-controller="Roles" asp-action="Index">Управление пользователями</a>
    }
    <p>Здравствуйте, @User.Identity.Name</p>
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}

