@model IEnumerable<FVerStoreApp.ViewModels.OrderViewModel>

@{
    ViewData["Title"] = "Мої страховки";
}
<html>

<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h2>Мої страховки</h2>
    @foreach (var insurance in Model)
    {
        if (insurance.Email == User.Identity.Name)
        {
           
            <div class="row mt-5 mb-2">

                <div class="col-lg-4">
                    <h3>@insurance.Insurancess</h3>
                    <p>Ціна: @Convert.ToInt32(insurance.price * insurance.MonthCount) грн</p>
                    <p>Ціна за місяць: @insurance.price грн</p>
                    <p>кількість місяців: @insurance.MonthCount</p>
                    <form method="post" asp-controller="Insurances" asp-action="GetPayout">
                        <input type="submit" value="Отримати виплату" />
                    </form>
                </div>
                

            </div>
        }
    }



</body>
</html>